#root{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin font($family, $size, $weight:100, $color:black){
    font-family: $family;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}