@import "./_scss/variables";
@import "./_scss/header";
@import "./_scss/main";

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: #F0F0F0 ;
}
@import "./_scss/showResults"