@font-face {
    font-family: "joemax";
    src: url("../assets/fonts/JoeMax-qV2x.otf") format("opentype");
  }
  @font-face {
    font-family: "betset";
    src: url("../assets/fonts/MsmmBetSet-eWDO.ttf") format("truetype");
  }

@import "./_scss/variables";
@import "./_scss/header";
@import "./_scss/main";

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: #F0F0F0 ;
}
@import "./_scss/showResults";
@import "./_scss/topAnime"